<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_0_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,234},{70,64}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,98},{70,64}}</string>
                <key>sourceSize</key>
                <string>{182,256}</string>
            </dict>
            <key>s_0_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{136,122}}</string>
                <key>offset</key>
                <string>{16,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,76},{136,122}}</string>
                <key>sourceSize</key>
                <string>{182,256}</string>
            </dict>
            <key>s_0_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{148,168}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,44},{148,168}}</string>
                <key>sourceSize</key>
                <string>{182,256}</string>
            </dict>
            <key>s_0_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,170}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,44},{148,170}}</string>
                <key>sourceSize</key>
                <string>{182,256}</string>
            </dict>
            <key>s_0_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{148,170}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,44},{148,170}}</string>
                <key>sourceSize</key>
                <string>{182,256}</string>
            </dict>
            <key>s_0_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{144,170}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,44},{144,170}}</string>
                <key>sourceSize</key>
                <string>{182,256}</string>
            </dict>
            <key>s_0_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,126},{106,110}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,73},{106,110}}</string>
                <key>sourceSize</key>
                <string>{182,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_0_2.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dac9804fb30730b342b6bd9fe74120f9:9fcc78d3b736c9815499a2a449085772:aa5e7c22919c217f107baf7b4bbb509f$</string>
            <key>textureFileName</key>
            <string>s_0_2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
