<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,111}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,76},{112,111}}</string>
                <key>sourceSize</key>
                <string>{182,265}</string>
            </dict>
            <key>s_1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{88,93}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,86},{88,93}}</string>
                <key>sourceSize</key>
                <string>{182,265}</string>
            </dict>
            <key>s_1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{76,91}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,88},{76,91}}</string>
                <key>sourceSize</key>
                <string>{182,265}</string>
            </dict>
            <key>s_1_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,115},{74,91}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,85},{74,91}}</string>
                <key>sourceSize</key>
                <string>{182,265}</string>
            </dict>
            <key>s_1_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,95},{68,87}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,88},{68,87}}</string>
                <key>sourceSize</key>
                <string>{182,265}</string>
            </dict>
            <key>s_1_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,184},{64,85}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,89},{64,85}}</string>
                <key>sourceSize</key>
                <string>{182,265}</string>
            </dict>
            <key>s_1_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{48,43}}</string>
                <key>offset</key>
                <string>{-5,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,88},{48,43}}</string>
                <key>sourceSize</key>
                <string>{182,265}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_1_1.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1a7d85863b57e64eb7654b5e1b76b7c:60b9ecbea9fc4c8fad166170a2b78fb2:3fc492ff5b5963d440f360cb961500ce$</string>
            <key>textureFileName</key>
            <string>s_1_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
