<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_2_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,104},{70,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,94},{70,70}}</string>
                <key>sourceSize</key>
                <string>{182,256}</string>
            </dict>
            <key>s_2_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{124,124}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,73},{124,124}}</string>
                <key>sourceSize</key>
                <string>{182,256}</string>
            </dict>
            <key>s_2_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,132}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,67},{132,132}}</string>
                <key>sourceSize</key>
                <string>{182,256}</string>
            </dict>
            <key>s_2_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{132,130}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,67},{132,130}}</string>
                <key>sourceSize</key>
                <string>{182,256}</string>
            </dict>
            <key>s_2_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{102,100}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,80},{102,100}}</string>
                <key>sourceSize</key>
                <string>{182,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_2_1.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec17c038660f56c7738c84f0583a45e7:60b7c911c6c1d9efd62772a60020ea83:2a8072f18b3d5c897d5261ff54f46792$</string>
            <key>textureFileName</key>
            <string>s_2_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
