<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_505_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{68,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,102},{68,52}}</string>
                <key>sourceSize</key>
                <string>{182,256}</string>
            </dict>
            <key>s_505_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{112,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,88},{112,80}}</string>
                <key>sourceSize</key>
                <string>{182,256}</string>
            </dict>
            <key>s_505_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,84},{84,110}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,59},{84,110}}</string>
                <key>sourceSize</key>
                <string>{182,256}</string>
            </dict>
            <key>s_505_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,170},{92,122}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,49},{92,122}}</string>
                <key>sourceSize</key>
                <string>{182,256}</string>
            </dict>
            <key>s_505_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,132}}</string>
                <key>offset</key>
                <string>{1,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,41},{94,132}}</string>
                <key>sourceSize</key>
                <string>{182,256}</string>
            </dict>
            <key>s_505_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{88,128}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,41},{88,128}}</string>
                <key>sourceSize</key>
                <string>{182,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_505_1.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abc862d25eeb1119c3bd504b1d360338:064690b212638ff6b9aa5f7cab8bc6df:4de109b638674608187435122d5000f0$</string>
            <key>textureFileName</key>
            <string>s_505_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
