<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_502_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1124},{186,384}}</string>
                <key>offset</key>
                <string>{227,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{454,26},{186,384}}</string>
                <key>sourceSize</key>
                <string>{640,410}</string>
            </dict>
            <key>s_502_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,2},{618,358}}</string>
                <key>offset</key>
                <string>{-9,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{618,358}}</string>
                <key>sourceSize</key>
                <string>{640,410}</string>
            </dict>
            <key>s_502_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,362},{600,360}}</string>
                <key>offset</key>
                <string>{-18,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{600,360}}</string>
                <key>sourceSize</key>
                <string>{640,410}</string>
            </dict>
            <key>s_502_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,376},{534,326}}</string>
                <key>offset</key>
                <string>{-52,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,33},{534,326}}</string>
                <key>sourceSize</key>
                <string>{640,410}</string>
            </dict>
            <key>s_502_3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{454,334}}</string>
                <key>offset</key>
                <string>{-91,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,25},{454,334}}</string>
                <key>sourceSize</key>
                <string>{640,410}</string>
            </dict>
            <key>s_502_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,1102},{208,384}}</string>
                <key>offset</key>
                <string>{216,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{432,26},{208,384}}</string>
                <key>sourceSize</key>
                <string>{640,410}</string>
            </dict>
            <key>s_502_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,704},{266,396}}</string>
                <key>offset</key>
                <string>{187,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{374,14},{266,396}}</string>
                <key>sourceSize</key>
                <string>{640,410}</string>
            </dict>
            <key>s_502_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1116},{380,404}}</string>
                <key>offset</key>
                <string>{130,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,6},{380,404}}</string>
                <key>sourceSize</key>
                <string>{640,410}</string>
            </dict>
            <key>s_502_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,724},{432,410}}</string>
                <key>offset</key>
                <string>{104,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,0},{432,410}}</string>
                <key>sourceSize</key>
                <string>{640,410}</string>
            </dict>
            <key>s_502_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,704},{492,410}}</string>
                <key>offset</key>
                <string>{74,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,0},{492,410}}</string>
                <key>sourceSize</key>
                <string>{640,410}</string>
            </dict>
            <key>s_502_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{506,396}}</string>
                <key>offset</key>
                <string>{67,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,0},{506,396}}</string>
                <key>sourceSize</key>
                <string>{640,410}</string>
            </dict>
            <key>s_502_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{638,386}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{638,386}}</string>
                <key>sourceSize</key>
                <string>{640,410}</string>
            </dict>
            <key>s_502_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{632,372}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{632,372}}</string>
                <key>sourceSize</key>
                <string>{640,410}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_502_3.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04e428504079b1be487d57448ece5cd6:01f45589b5327d166c564cda55d3185b:60ca19bcedeb4e6d953856eb3d6e504b$</string>
            <key>textureFileName</key>
            <string>s_502_3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
