<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_505_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{210,98}}</string>
                <key>offset</key>
                <string>{0,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,222},{210,98}}</string>
                <key>sourceSize</key>
                <string>{210,320}</string>
            </dict>
            <key>s_505_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,194},{202,296}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,24},{202,296}}</string>
                <key>sourceSize</key>
                <string>{210,320}</string>
            </dict>
            <key>s_505_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,492},{138,268}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,26},{138,268}}</string>
                <key>sourceSize</key>
                <string>{210,320}</string>
            </dict>
            <key>s_505_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,492},{124,234}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,46},{124,234}}</string>
                <key>sourceSize</key>
                <string>{210,320}</string>
            </dict>
            <key>s_505_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,914},{88,230}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,49},{88,230}}</string>
                <key>sourceSize</key>
                <string>{210,320}</string>
            </dict>
            <key>s_505_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,206},{52,218}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,51},{52,218}}</string>
                <key>sourceSize</key>
                <string>{210,320}</string>
            </dict>
            <key>s_505_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,928},{210,92}}</string>
                <key>offset</key>
                <string>{0,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,225},{210,92}}</string>
                <key>sourceSize</key>
                <string>{210,320}</string>
            </dict>
            <key>s_505_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,102},{210,90}}</string>
                <key>offset</key>
                <string>{0,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,226},{210,90}}</string>
                <key>sourceSize</key>
                <string>{210,320}</string>
            </dict>
            <key>s_505_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,762},{196,150}}</string>
                <key>offset</key>
                <string>{1,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,162},{196,150}}</string>
                <key>sourceSize</key>
                <string>{210,320}</string>
            </dict>
            <key>s_505_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,310}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{202,310}}</string>
                <key>sourceSize</key>
                <string>{210,320}</string>
            </dict>
            <key>s_505_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{202,304}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{202,304}}</string>
                <key>sourceSize</key>
                <string>{210,320}</string>
            </dict>
            <key>s_505_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{202,306}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{202,306}}</string>
                <key>sourceSize</key>
                <string>{210,320}</string>
            </dict>
            <key>s_505_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{202,296}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,24},{202,296}}</string>
                <key>sourceSize</key>
                <string>{210,320}</string>
            </dict>
            <key>s_505_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{202,296}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,24},{202,296}}</string>
                <key>sourceSize</key>
                <string>{210,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_505_2.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:223734589a6c1b9c7e8671df2cf5a0db:a25de7715069cc66412f2dc08a1d285c:00c16d24fd6e7b1532a66fb440e77e0d$</string>
            <key>textureFileName</key>
            <string>s_505_2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
