<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_5_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,250},{90,98}}</string>
                <key>offset</key>
                <string>{-3,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,105},{90,98}}</string>
                <key>sourceSize</key>
                <string>{182,256}</string>
            </dict>
            <key>s_5_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{90,104}}</string>
                <key>offset</key>
                <string>{-4,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,102},{90,104}}</string>
                <key>sourceSize</key>
                <string>{182,256}</string>
            </dict>
            <key>s_5_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,160},{88,106}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,94},{88,106}}</string>
                <key>sourceSize</key>
                <string>{182,256}</string>
            </dict>
            <key>s_5_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{88,112}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,84},{88,112}}</string>
                <key>sourceSize</key>
                <string>{182,256}</string>
            </dict>
            <key>s_5_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{42,156}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,59},{42,156}}</string>
                <key>sourceSize</key>
                <string>{182,256}</string>
            </dict>
            <key>s_5_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,200}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,26},{42,200}}</string>
                <key>sourceSize</key>
                <string>{182,256}</string>
            </dict>
            <key>s_5_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{42,126}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,65},{42,126}}</string>
                <key>sourceSize</key>
                <string>{182,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_5_0.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ef43f5d3424d04d093305d42c162e49:23578fa30dafae6a1a1792c308b8c47f:b3c6f6a119fe030bef69b94f4c2144b8$</string>
            <key>textureFileName</key>
            <string>s_5_0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
