<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_6_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{64,276}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,8},{64,276}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>s_6_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{64,284}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,7},{64,284}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>s_6_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{64,288}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,8},{64,288}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>s_6_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{64,282}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,7},{64,282}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>s_6_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,292}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,7},{64,292}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>s_6_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{64,292}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,8},{64,292}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_6_0.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9af089daf9cbfdd7e1ad8841d81cb1e2:ba0a847f93c7c0a9969a233932c428b8:12f9bfaf520a4ad898ac7ed3043ac64c$</string>
            <key>textureFileName</key>
            <string>s_6_0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
