<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_10_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{112,224}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,4},{112,224}}</string>
                <key>sourceSize</key>
                <string>{150,250}</string>
            </dict>
            <key>s_10_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,118},{114,244}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,4},{114,244}}</string>
                <key>sourceSize</key>
                <string>{150,250}</string>
            </dict>
            <key>s_10_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,466},{114,222}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,6},{114,222}}</string>
                <key>sourceSize</key>
                <string>{150,250}</string>
            </dict>
            <key>s_10_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,350},{114,232}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,4},{114,232}}</string>
                <key>sourceSize</key>
                <string>{150,250}</string>
            </dict>
            <key>s_10_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,246}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,4},{114,246}}</string>
                <key>sourceSize</key>
                <string>{150,250}</string>
            </dict>
            <key>s_10_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{114,244}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,6},{114,244}}</string>
                <key>sourceSize</key>
                <string>{150,250}</string>
            </dict>
            <key>s_10_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{114,246}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,4},{114,246}}</string>
                <key>sourceSize</key>
                <string>{150,250}</string>
            </dict>
            <key>s_10_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{114,246}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,4},{114,246}}</string>
                <key>sourceSize</key>
                <string>{150,250}</string>
            </dict>
            <key>s_10_0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,234},{114,244}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,5},{114,244}}</string>
                <key>sourceSize</key>
                <string>{150,250}</string>
            </dict>
            <key>s_10_0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{114,244}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,4},{114,244}}</string>
                <key>sourceSize</key>
                <string>{150,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_10_0.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3edc9306c88527ead56b79513094a2bd:11cd58875b3bce42827253a13ec84381:6e048581a3ea4ccf6c045caf1e1f9f78$</string>
            <key>textureFileName</key>
            <string>s_10_0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
