<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_11_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,146},{154,144}}</string>
                <key>offset</key>
                <string>{-29,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,28},{154,144}}</string>
                <key>sourceSize</key>
                <string>{280,300}</string>
            </dict>
            <key>s_11_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{218,228}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,49},{218,228}}</string>
                <key>sourceSize</key>
                <string>{280,300}</string>
            </dict>
            <key>s_11_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,246}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,33},{204,246}}</string>
                <key>sourceSize</key>
                <string>{280,300}</string>
            </dict>
            <key>s_11_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,716},{198,226}}</string>
                <key>offset</key>
                <string>{9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,25},{198,226}}</string>
                <key>sourceSize</key>
                <string>{280,300}</string>
            </dict>
            <key>s_11_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{142,192}}</string>
                <key>offset</key>
                <string>{18,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,36},{142,192}}</string>
                <key>sourceSize</key>
                <string>{280,300}</string>
            </dict>
            <key>s_11_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,146},{138,164}}</string>
                <key>offset</key>
                <string>{20,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,36},{138,164}}</string>
                <key>sourceSize</key>
                <string>{280,300}</string>
            </dict>
            <key>s_11_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,286},{96,86}}</string>
                <key>offset</key>
                <string>{38,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,92},{96,86}}</string>
                <key>sourceSize</key>
                <string>{280,300}</string>
            </dict>
            <key>s_11_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,200},{154,152}}</string>
                <key>offset</key>
                <string>{-10,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,52},{154,152}}</string>
                <key>sourceSize</key>
                <string>{280,300}</string>
            </dict>
            <key>s_11_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{176,142}}</string>
                <key>offset</key>
                <string>{-26,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,45},{176,142}}</string>
                <key>sourceSize</key>
                <string>{280,300}</string>
            </dict>
            <key>s_11_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{196,200}}</string>
                <key>offset</key>
                <string>{-8,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,31},{196,200}}</string>
                <key>sourceSize</key>
                <string>{280,300}</string>
            </dict>
            <key>s_11_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,444},{190,202}}</string>
                <key>offset</key>
                <string>{-17,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,12},{190,202}}</string>
                <key>sourceSize</key>
                <string>{280,300}</string>
            </dict>
            <key>s_11_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{228,222}}</string>
                <key>offset</key>
                <string>{-10,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,1},{228,222}}</string>
                <key>sourceSize</key>
                <string>{280,300}</string>
            </dict>
            <key>s_11_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{208,224}}</string>
                <key>offset</key>
                <string>{-3,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,15},{208,224}}</string>
                <key>sourceSize</key>
                <string>{280,300}</string>
            </dict>
            <key>s_11_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{204,234}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,16},{204,234}}</string>
                <key>sourceSize</key>
                <string>{280,300}</string>
            </dict>
            <key>s_11_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,228},{208,214}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,48},{208,214}}</string>
                <key>sourceSize</key>
                <string>{280,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_11_2.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03326557b2f2473da778a32d13e73a58:3ec6f102e9ec47341a51d1c2a4a39615:1e74dd0308a39ce0c0196146f6dfb626$</string>
            <key>textureFileName</key>
            <string>s_11_2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
