<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_1_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{108,135}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,71},{108,135}}</string>
                <key>sourceSize</key>
                <string>{182,265}</string>
            </dict>
            <key>s_1_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{104,265}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{104,265}}</string>
                <key>sourceSize</key>
                <string>{182,265}</string>
            </dict>
            <key>s_1_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,265}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{108,265}}</string>
                <key>sourceSize</key>
                <string>{182,265}</string>
            </dict>
            <key>s_1_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,269},{110,239}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,23},{110,239}}</string>
                <key>sourceSize</key>
                <string>{182,265}</string>
            </dict>
            <key>s_1_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,269},{112,235}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,24},{112,235}}</string>
                <key>sourceSize</key>
                <string>{182,265}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_1_0.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24bf1666816c6d17e62fa9133f1d1c57:5dfda41724141dd19a1ec91a5e9ef33a:f1790b14ec11203ea20b16ab5640e4ea$</string>
            <key>textureFileName</key>
            <string>s_1_0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
