<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_3_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,258},{70,72}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,139},{70,72}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>s_3_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{162,158}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,100},{162,158}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>s_3_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,510},{164,160}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,100},{164,160}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>s_3_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,672},{166,166}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,97},{166,166}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>s_3_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{170,170}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,95},{170,170}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>s_3_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,336},{172,174}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,93},{172,174}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>s_3_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{176,168}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,100},{176,168}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>s_3_2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{180,168}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,101},{180,168}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>s_3_2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,170}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,100},{184,170}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>s_3_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,150},{128,106}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,122},{128,106}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>s_3_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{146,128}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,114},{146,128}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>s_3_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,336},{160,146}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,105},{160,146}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>s_3_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,510},{170,160}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,98},{170,160}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>s_3_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,672},{162,162}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,97},{162,162}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>s_3_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,172},{178,162}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,98},{178,162}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>s_3_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{174,162}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,97},{174,162}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>s_3_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,836},{162,162}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,97},{162,162}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_3_2.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a67d81bbaedc694a0c06a9b0cac96da9:9229397344796e94d04335f97d7ec965:e2a7386bf9b22fffdbfbacecd22efe05$</string>
            <key>textureFileName</key>
            <string>s_3_2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
