<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_3_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,340}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,340}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>s_3_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,358},{126,96}}</string>
                <key>offset</key>
                <string>{-14,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,94},{126,96}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>s_3_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,288},{80,132}}</string>
                <key>offset</key>
                <string>{7,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,45},{80,132}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>s_3_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,262},{98,94}}</string>
                <key>offset</key>
                <string>{2,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,84},{98,94}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>s_3_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,588},{106,106}}</string>
                <key>offset</key>
                <string>{5,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,77},{106,106}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>s_3_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,454},{130,118}}</string>
                <key>offset</key>
                <string>{-16,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,66},{130,118}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>s_3_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,574},{102,110}}</string>
                <key>offset</key>
                <string>{1,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,74},{102,110}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>s_3_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{320,284}}</string>
                <key>offset</key>
                <string>{15,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,2},{320,284}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>s_3_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,2},{284,258}}</string>
                <key>offset</key>
                <string>{20,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,15},{284,258}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>s_3_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,454},{200,204}}</string>
                <key>offset</key>
                <string>{-8,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,51},{200,204}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>s_3_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,288},{190,230}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,50},{190,230}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>s_3_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,262},{190,246}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,47},{190,246}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>s_3_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{188,184}}</string>
                <key>offset</key>
                <string>{-2,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,48},{188,184}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>s_3_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{188,168}}</string>
                <key>offset</key>
                <string>{-2,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,50},{188,168}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>s_3_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,486},{92,100}}</string>
                <key>offset</key>
                <string>{3,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,89},{92,100}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_3_1.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:002bf512e61cd707f56e8b7404eda839:521e3f1abeb5fe87cf2f551a6a75a35d:20deda6476bfc65e15a039b869b82666$</string>
            <key>textureFileName</key>
            <string>s_3_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
