<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_4_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,2},{152,93}}</string>
                <key>offset</key>
                <string>{6,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,172},{152,93}}</string>
                <key>sourceSize</key>
                <string>{210,289}</string>
            </dict>
            <key>s_4_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,540},{204,247}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,40},{204,247}}</string>
                <key>sourceSize</key>
                <string>{210,289}</string>
            </dict>
            <key>s_4_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{204,257}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,29},{204,257}}</string>
                <key>sourceSize</key>
                <string>{210,289}</string>
            </dict>
            <key>s_4_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,277},{196,261}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,21},{196,261}}</string>
                <key>sourceSize</key>
                <string>{210,289}</string>
            </dict>
            <key>s_4_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,261},{196,235}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,28},{196,235}}</string>
                <key>sourceSize</key>
                <string>{210,289}</string>
            </dict>
            <key>s_4_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,789},{186,221}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,24},{186,221}}</string>
                <key>sourceSize</key>
                <string>{210,289}</string>
            </dict>
            <key>s_4_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,215},{122,199}}</string>
                <key>offset</key>
                <string>{5,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,14},{122,199}}</string>
                <key>sourceSize</key>
                <string>{210,289}</string>
            </dict>
            <key>s_4_2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,706},{80,161}}</string>
                <key>offset</key>
                <string>{5,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,17},{80,161}}</string>
                <key>sourceSize</key>
                <string>{210,289}</string>
            </dict>
            <key>s_4_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{184,173}}</string>
                <key>offset</key>
                <string>{-3,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,92},{184,173}}</string>
                <key>sourceSize</key>
                <string>{210,289}</string>
            </dict>
            <key>s_4_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,788},{206,189}}</string>
                <key>offset</key>
                <string>{2,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,84},{206,189}}</string>
                <key>sourceSize</key>
                <string>{210,289}</string>
            </dict>
            <key>s_4_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,498},{206,193}}</string>
                <key>offset</key>
                <string>{2,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,84},{206,193}}</string>
                <key>sourceSize</key>
                <string>{210,289}</string>
            </dict>
            <key>s_4_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{210,211}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,63},{210,211}}</string>
                <key>sourceSize</key>
                <string>{210,289}</string>
            </dict>
            <key>s_4_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,273}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{206,273}}</string>
                <key>sourceSize</key>
                <string>{210,289}</string>
            </dict>
            <key>s_4_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,277},{202,271}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{202,271}}</string>
                <key>sourceSize</key>
                <string>{210,289}</string>
            </dict>
            <key>s_4_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{202,265}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,22},{202,265}}</string>
                <key>sourceSize</key>
                <string>{210,289}</string>
            </dict>
            <key>s_4_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,817},{204,261}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,25},{204,261}}</string>
                <key>sourceSize</key>
                <string>{210,289}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_4_2.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eaf199feb7e8fc939c7859b53c509e35:434d4367fb4257d35c6e78b20ffa0dad:8c7cc78d9582da5cb21177af8d1d9e68$</string>
            <key>textureFileName</key>
            <string>s_4_2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
