<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_4_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,144},{150,116}}</string>
                <key>offset</key>
                <string>{11,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,64},{150,116}}</string>
                <key>sourceSize</key>
                <string>{182,256}</string>
            </dict>
            <key>s_4_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,160},{134,140}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,40},{134,140}}</string>
                <key>sourceSize</key>
                <string>{182,256}</string>
            </dict>
            <key>s_4_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{122,108}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,59},{122,108}}</string>
                <key>sourceSize</key>
                <string>{182,256}</string>
            </dict>
            <key>s_4_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{156,140}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,53},{156,140}}</string>
                <key>sourceSize</key>
                <string>{182,256}</string>
            </dict>
            <key>s_4_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{178,140}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,53},{178,140}}</string>
                <key>sourceSize</key>
                <string>{182,256}</string>
            </dict>
            <key>s_4_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,152}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,46},{182,152}}</string>
                <key>sourceSize</key>
                <string>{182,256}</string>
            </dict>
            <key>s_4_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,156},{40,46}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,101},{40,46}}</string>
                <key>sourceSize</key>
                <string>{182,256}</string>
            </dict>
            <key>s_4_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,144},{22,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,118},{22,20}}</string>
                <key>sourceSize</key>
                <string>{182,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_4_1.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b62e0b34ad10fba5d32dc0c33d88841e:1b7dffbbfdbc51eb0ec227a12fd4e12e:492cef360e99e7b72316fdfc8d84d331$</string>
            <key>textureFileName</key>
            <string>s_4_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
