<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_503_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{72,114}}</string>
                <key>offset</key>
                <string>{-1,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,23},{72,114}}</string>
                <key>sourceSize</key>
                <string>{182,256}</string>
            </dict>
            <key>s_503_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,220}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,8},{94,220}}</string>
                <key>sourceSize</key>
                <string>{182,256}</string>
            </dict>
            <key>s_503_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{88,220}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,22},{88,220}}</string>
                <key>sourceSize</key>
                <string>{182,256}</string>
            </dict>
            <key>s_503_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,188},{58,58}}</string>
                <key>offset</key>
                <string>{-1,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,29},{58,58}}</string>
                <key>sourceSize</key>
                <string>{182,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_503_0.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3c01bbb9296b47cb3a35070a1ea41af:323ddff13a84cbebe4ecf7c92a159b35:5e8c7e21ab87ed622feaf228b822bfd1$</string>
            <key>textureFileName</key>
            <string>s_503_0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
