<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_502_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,356},{88,54}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,109},{88,54}}</string>
                <key>sourceSize</key>
                <string>{182,256}</string>
            </dict>
            <key>s_502_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,518},{96,78}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,91},{96,78}}</string>
                <key>sourceSize</key>
                <string>{182,256}</string>
            </dict>
            <key>s_502_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,398},{114,108}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,79},{114,108}}</string>
                <key>sourceSize</key>
                <string>{182,256}</string>
            </dict>
            <key>s_502_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{88,78}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,92},{88,78}}</string>
                <key>sourceSize</key>
                <string>{182,256}</string>
            </dict>
            <key>s_502_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,288},{116,108}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,78},{116,108}}</string>
                <key>sourceSize</key>
                <string>{182,256}</string>
            </dict>
            <key>s_502_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,518},{84,76}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,92},{84,76}}</string>
                <key>sourceSize</key>
                <string>{182,256}</string>
            </dict>
            <key>s_502_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{108,102}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,79},{108,102}}</string>
                <key>sourceSize</key>
                <string>{182,256}</string>
            </dict>
            <key>s_502_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,162},{124,130}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,65},{124,130}}</string>
                <key>sourceSize</key>
                <string>{182,256}</string>
            </dict>
            <key>s_502_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{100,68}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,102},{100,68}}</string>
                <key>sourceSize</key>
                <string>{182,256}</string>
            </dict>
            <key>s_502_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,508},{112,92}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,89},{112,92}}</string>
                <key>sourceSize</key>
                <string>{182,256}</string>
            </dict>
            <key>s_502_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{176,172}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,38},{176,172}}</string>
                <key>sourceSize</key>
                <string>{182,256}</string>
            </dict>
            <key>s_502_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,178}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,39},{178,178}}</string>
                <key>sourceSize</key>
                <string>{182,256}</string>
            </dict>
            <key>s_502_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{172,174}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,40},{172,174}}</string>
                <key>sourceSize</key>
                <string>{182,256}</string>
            </dict>
            <key>s_502_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,176},{176,170}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{176,170}}</string>
                <key>sourceSize</key>
                <string>{182,256}</string>
            </dict>
            <key>s_502_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,348},{168,170}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,38},{168,170}}</string>
                <key>sourceSize</key>
                <string>{182,256}</string>
            </dict>
            <key>s_502_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{158,140}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,64},{158,140}}</string>
                <key>sourceSize</key>
                <string>{182,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_502_1.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f5988c2c888411dc63503db500628f2:8891f3be575cd70bf4c863f56fbafd7d:04fe880554bf02e3972fab654733c31e$</string>
            <key>textureFileName</key>
            <string>s_502_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
