<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_8_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,968},{132,292}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,1},{132,292}}</string>
                <key>sourceSize</key>
                <string>{460,320}</string>
            </dict>
            <key>s_8_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1218},{402,320}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{402,320}}</string>
                <key>sourceSize</key>
                <string>{460,320}</string>
            </dict>
            <key>s_8_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{414,320}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{414,320}}</string>
                <key>sourceSize</key>
                <string>{460,320}</string>
            </dict>
            <key>s_8_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,324},{418,320}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{418,320}}</string>
                <key>sourceSize</key>
                <string>{460,320}</string>
            </dict>
            <key>s_8_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1218},{408,320}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{408,320}}</string>
                <key>sourceSize</key>
                <string>{460,320}</string>
            </dict>
            <key>s_8_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1628},{406,316}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,4},{406,316}}</string>
                <key>sourceSize</key>
                <string>{460,320}</string>
            </dict>
            <key>s_8_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1628},{406,292}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,5},{406,292}}</string>
                <key>sourceSize</key>
                <string>{460,320}</string>
            </dict>
            <key>s_8_2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,968},{194,292}}</string>
                <key>offset</key>
                <string>{-8,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,4},{194,292}}</string>
                <key>sourceSize</key>
                <string>{460,320}</string>
            </dict>
            <key>s_8_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,622},{132,296}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,0},{132,296}}</string>
                <key>sourceSize</key>
                <string>{460,320}</string>
            </dict>
            <key>s_8_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,920},{132,296}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,0},{132,296}}</string>
                <key>sourceSize</key>
                <string>{460,320}</string>
            </dict>
            <key>s_8_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,324},{134,296}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,0},{134,296}}</string>
                <key>sourceSize</key>
                <string>{460,320}</string>
            </dict>
            <key>s_8_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{212,320}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,0},{212,320}}</string>
                <key>sourceSize</key>
                <string>{460,320}</string>
            </dict>
            <key>s_8_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{460,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,320}}</string>
                <key>sourceSize</key>
                <string>{460,320}</string>
            </dict>
            <key>s_8_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{460,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,320}}</string>
                <key>sourceSize</key>
                <string>{460,320}</string>
            </dict>
            <key>s_8_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,646},{414,320}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{414,320}}</string>
                <key>sourceSize</key>
                <string>{460,320}</string>
            </dict>
            <key>s_8_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{420,320}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{420,320}}</string>
                <key>sourceSize</key>
                <string>{460,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_8_2.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28f2fad5f49ecae7e7b29a5f0b87e308:d9bcd473662fb161900a65bc0280e678:33f22d52a414ed42efe7b90e11baed96$</string>
            <key>textureFileName</key>
            <string>s_8_2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
